
/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 10px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.6em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
	cursor: pointer;
}
.container:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}
.container.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0;
	width: 300%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
button.trigger:focus {
	outline: none;
}
.downanimated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 
@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 
.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}
/* Content */
.content {
	margin:0 auto;
	padding:0;
}
.content > div:not(.title) p {
	margin: 0 auto 1.5em auto;
}
.content > div:not(.title) p:first-child {
	font-size: 1.35em;
}

/* -------------------------- */
/* Push */
/* -------------------------- */
.intro-effect-push:not(.notrans) .header,
.intro-effect-push:not(.notrans) .content > div {
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.intro-effect-push:not(.notrans) .header {
	-webkit-transition-timing-function: linear(0.7,0,0.3,1);
	transition-timing-function: linear(0.7,0,0.3,1);
	-webkit-transition-duration: 1.2s;
	transition-duration: 1.2s;
}
.intro-effect-push .header {
	position: absolute;
	z-index: 1500;
	/*padding:70px 0 0 0;*/
	padding-top: 70px;
	padding-top: 500px;
}
@media screen and (max-width: 680px) {
.intro-effect-push .header {
	/*margin:50px 0 0 0;*/
	padding-top: 50px;
}
}
.intro-effect-push .content > div {
	margin-top: 0px;
}
.intro-effect-push .content > div {
	-webkit-transform: translateY(400px);
	transform: translateY(400px);
	opacity: 0;
}
.intro-effect-push.modify .content > div {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.intro-effect-push.modify .header {
	opacity: 0;
	-webkit-transform: translateY(-100%) scale(1);
	transform: translateY(-100%) scale(1);
}
.intro-effect-push.modify:not(.notrans) .content > div {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}