.fontSatisfy {
	font-family: 'Satisfy', cursive;
}

.h2 {
	font-size: 167% !important;
}

.h3 {
	font-size: 153.9% !important;
}

.doradeText {
	/*color: #dec64c;*/
	/*color: #8D7361;*/
	color: #252b78;
}

.grayChocolate {
	color: #E2D7C1;
}


.ligthBackground {
	background: #fefefe;
}

.map-container {
	width: 100%;
	margin: 50px auto;
}
.map-container iframe {
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

.section_full {
	padding: 66px 0;
}

.ul{
	margin-bottom:30px;
	overflow:hidden;
}

.li{
	float:left;
	list-style-type: none;
	padding: 2px 2px;
}

.img{
	float:left;
	width:100%;
	height: auto;
}

.myContainer {
	margin-left: 0;
	margin-right: 0;
	margin: 0;
	max-width: 900px;
	margin: 0 auto;
}

.myContainer ul {
	padding: 0;
	margin: 0;
}

.myContainer ul li {
	width: 33.33333%;
	float: left;
	margin: 0;
	display: block;
	padding: 0;
}

.myContainer ul li img {
	display: block;
	margin: 0;
	width: auto;
	max-width: 100%;
}

.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.myTitle span {
	display: inline-block;
	transition: none;
	transform: translateX(10px) translateY(-6px) rotate(0deg) !important;
}



/*about*/


.info-boda {
	margin-top: 75px;
	margin-bottom: 15px;
	padding: 10px 10px;
}

.itinerary {	
	max-width: 90%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin: auto;
}
.tableItinerary {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}

.celda {
	width:100%;
	display:flex;
	justify-content:center;
}

.celda-top {
	border-top:1px solid #212474;
}

.celda-bottom {
	border-bottom:1px solid #212474;
}


.celdaTitle {
	width:100%;
}

.celdaTitle > h1,h2,h3,h4,h5,h6{
	padding: 10px 10px;
	font-size:18px;
}

.left, .rigth {
	padding: 50px 10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.rigth {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: justify;
	width: 100%;
	border-left:1px solid #212474;
}
.left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	text-align:justify;
	width: 100%;
	border-rigth:1px solid #212474;
}


.noBorder {
	border: none;
}


.text-center {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-align: justify;
}


.mg-top150px {
	margin-top:85px;
}


.iconFa {
	font-size:85px;
	color: #252b78;
}


.left13 {
	width: 100%;
	float: none: ;
	margin: auto;
}


/*Era hacer esto*/

#main_menu {
	display: none !important;
}

.modify #main_menu {
	display: block !important;
}


.myThingsToDo {
}

.myThingsToDo .section_title {
	padding: 0px;
}

.item__activities {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px rgba(67, 72, 139,.5) solid;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px 10px;
}

.icon__activities {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.info__activities {
	
}

.icon--activitie {
	font-size: 60px;
	color: #252b78;
	padding: 25px;
}

.item__activities {
	display: flex;
}


/*
   general styles
   */
   .center-block-horiz {
   	margin-left: auto !important;
   	margin-right: auto !important;
   }
   .set-margin-cicis-menu-to-go {
   	margin: 20px;
   }
   .set-padding-cicis-menu-to-go {
   	padding: 20px;
   }
   .set-border-cicis-menu-to-go {
   	border: 2px solid rgba(67, 72, 139,.5);
   	border-radius: 10px;
   }
   set-box-shadow-cicis-menu-to-go {
   	-webkit-box-shadow: 4px 4px 14px #4f4f4f;
   	-moz-box-shadow: 4px 4px 14px #4f4f4f;
   	box-shadow: 4px 4px 14px #4f4f4f;
   }

/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
    */
    .responsive-wrapper {
    	position: relative;
    	height: 0;    /* gets height from padding-bottom */
    	overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
    -webkit-overflow-scrolling: touch; 
    overflow: auto; */
}
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border-style: none;
	padding: 0;
	margin: 0;
}

/*
    css particular to this iframe
    */

    #Iframe-Cicis-Menu-To-Go {
    	max-width: 666.67px;
    	max-height: 600px;
    	overflow: hidden;
    	display: none;
    }
/*
   padding-bottom = h/w as %
   */
   .responsive-wrapper-padding-bottom-90pct {
   	padding-bottom: 90%;
   }


   .openBtn {
   	padding: 5px 5px;
   	font-size: 14px;
   	border-radius: 10px;
   }

   @media screen and (min-width: 1050px) {

   	#Iframe-Cicis-Menu-To-Go {
   		display: block;
   	}

   	.item__activities {
   		margin: 10px 10px 10px 10px;
   		width: 50%;

   	}

   	.wAuto {
   		width: 100%;
   	}

   	.margin-item {
   		display: flex; 
   		flex-direction: row;
   		justify-content: space-between;
   		align-items: center;
   	}

   }

   @media screen and (min-width: 1025px) {

   	.container-activities {

   	}

   	.item__activities {
   		flex-direction: row;
   	}

   }